{% include "Admin_header.html" %}

{% comment %} Start Content {% endcomment %}

<h1>Resource Booking Form....!</h1>
<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Name Resouce</th>
            <th scope="col">NAme Faculty</th>
            <th scope="col">Start date</th>
            <th scope="col">End date</th>
            <th scope="col">Start time</th>
            <th scope="col">End time</th>
            <th scope="col">Dec</th>
            <th scope="col">Total Participents</th>
            <th scope="col">Opration </th>
          </tr>
        </thead>
        <tbody>
        {%for book in data%}
          <tr>
            <th scope="row">{{book.bid}}</th>
            <td>{{book.rid.rname}}</td>
                <td>{{book.uname}}</td>
                <td>{{book.sdate}}</td>
                <td>{{book.edate}}</td>
                <td>{{book.stime}}</td>
                <td>{{book.etime}}</td>
                <td>{{book.desc}}</td>
                <td>{{book.tot}}</td>
                <td>
                    <a href="edit/{{book.bid}}">Edit</a>
                    <a href="delete/{{book.bid}}">Delete</a>
                </td>
                
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>

{% comment %} End Content {% endcomment %}

{% include "Admin_footer.html" %}